*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
body{
    overflow: hidden;
    font-family: 'Russo One', sans-serif;
    background: #000;
    color: #fff;
    letter-spacing: 4px;
}
#content{
    height: 100%;
    width: 100%;
    position: relative;
}
/* Start start */
.menu{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 3s top linear;
}
.img__wrapper{
    display: inline-block;
    width: 377px;
    height: 143px;
    background: url(img/sprite2.png);
    background-position: -260px 0px;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
ul{
    display: flex;
    flex-direction: column;
    text-align: left;
}
li{
    display: inline-block;
    margin-bottom: 10px;
    list-style: none;
    position: relative;
}
li:last-child{
    margin: 0;
}
li:hover:before{
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(img/tank_right.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 7px;
    left: -48px;
}
.list{
    display: inline-block;
    font-size: 40px;
    text-decoration: none;
    color: #fff;
}
/* Start end */
/* Rules start*/
.rules {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}
.rules__title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
}
.rules__text_wrap{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 30px;
}
.rules__player {
    margin-bottom: 30px;
    font-size: 30px;
}
.rules__text {
    display: block;
    font-size: 20px;
    margin-bottom: 15px;
}
.rules__text_elem{
    color: #faa526;
    font-size: 30px;
}
.rules__wish {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.back{
    display: block;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
}
/* Rules end*/
/* Level start */
.level {
    display: none;
    height: 100%;
    width: 100%;
    background-color: hsl(0, 0%, 39%);
}
.level__txt {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 60px;
    color: #000;
}
.level_active{
    display: block;
}
/* Level end */
/* Statistics start */
/* .statistics {
    height: 100%;
    width: 100%;
}
.statistics__wrap {
    width: 100%;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
} */
/* Statistics end */
/* Canvas start*/
.canvas__wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    width: 100%;
    height: 100%;
    background-color: #636363;
}
.canvas__wrapper{
    position: relative;
}
.game_over{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    max-width: 160px;
    color: #cc1313;
}
.canvas{
    display: inline-block;
}
.canvas__info {
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    color: #000;
    font-size: 30px;
}
.canvas__count-tank {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    margin-bottom: 50px;
}
.canvas__new_tank{
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(img/sprite2.png);
    background-position: -160px -256px;
    background-repeat: no-repeat;
}
.canvas__lives{
    margin-bottom: 20px;
}
.canvas__player {
    font-weight: 900;
    font-size: 32px;
}
.canvas__num_lives::before{
    content: '';
    display: inline-block;
    width: 32px;
    height: 21px;
    background: url(img/sprite2.png);
    background-position: -128px -256px;
    background-repeat: no-repeat;
}
.canvas__stage::before{
    content: '';
    display: inline-block;
    width: 32px;
    height: 31px;
    background: url(img/sprite2.png);
    background-position: -192px -256px;    
    background-repeat: no-repeat;
    margin-right: 15px;
}
/* Canvas end*/
.scoring {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: hsl(0, 0%, 39%);
}
.scoring__stage {
}
.scoring__player-one {
}
.score {
}
.killed-tank {
}
.num-tank-kill {
}
.tank-kill {
}
.tank-kill_one {
}
.tank-kill_two {
}
.tank-kill_three {
}
.tank-kill_fore {
}
